body {
  height: 100%;
  width: 100%;
  background: rgb(140,176,212);
  background: linear-gradient(rgba(163,197,200,.5), rgba(140,176,212,1));
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  font-family: 'Roboto', sans-serif;
  height: 100%;
  /*width: 100%;*/
  padding: 100px;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
}

#header-box{
  position: fixed;
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
  background-color: rgba(245,245,245,.4);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  color: rgba(1,1,1,1);
}

.media-icons {
  padding-right: 30px;
}

.logo {
  height: 32px;
  width: 32px;
  cursor: pointer;
}

.intro {
  width: 50%;
  padding-top: 100px;
}

.project {
  display: flex;
  /*flex-direction: column;*/
  justify-content: center;
  align-items: center;
  width: 50%;
}

.project-image {
  height: 550px;
  min-width: 400px;

}

.project-text {
  align-self: flex-end;
  display: flex;
  justify-content: flex-end;
}

.name-and-links {
  width: 100%;
}

#rr {
  align-self: flex-end;
}

#rr .name-and-links {
  text-align: right;
}

#exposed {
  align-self: flex-end;
}

#exposed .name-and-links {
  text-align: right;
}

#rrImage{
  background-image: url("images/remoteread-detail.png");
  background-size: cover;
  margin-left: 30px;
}

#gwlImage {
  background-image: url("images/gWL-detail.png");
  background-size: cover;
  margin-right: 30px;
}

#exposedImage {
  background-image: url("images/exposed-detail.png");
  background-size: cover;
  margin-left: 30px;
}
